@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+AU+VIC+WA+NT+Arrows&family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@700&family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    /* height: 100%; */
    width: 100%;
    background: black;
    position: relative;
    /* overflow: hidden; */
}

.nav{
    /* border: 2px solid red; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 1);
}

.header-text h1 {
    color: rgb(17, 225, 236);
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-weight: 900;
    font-size: 2.4em;
    padding: 10px; 
    border-bottom: 1px solid #ffffff30;
}
    
.header-text span{
    color: rgb(255, 0, 140);
    margin-left: .3rem;
}

.navbar {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    color: #fff;
    margin: 0;
}

.right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}
.logo img {
    height: 50px;
    border-radius: 50%;
}

.logo span{
    color: rgb(255, 0, 140);
    font-family: "Dancing Script", sans-serif;
    font-weight: 900;
    font-size: 2.4em;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.common-a {
    color: white;
    font-size: 1.4em;
    font-weight: 400;
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.nav-right{
    display: flex;
    align-items: center;
    /* gap: 1rem; */
}

.search{
    display: flex;
    gap: .3rem;
    align-items: center;
}

.search input{
    height: 35px;
    width: 200px;
    border-radius: 1rem;
    outline: none;
    padding: .5rem;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: #414141d9;
    border: none;
    color: #d1d1d1;
}

.search-btn{
    height: 30px;
    width: 33px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 140);
    /* background-color: rgb(238, 75, 0); */
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .2s;
}

.search-btn:hover{
    transform: scale(0.95);
    background-color: rgb(238, 75, 0);
}

.search i{
    font-size: 1.1rem;
    color: #dddddd;
}

.login{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(238, 75, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-left: .6rem;
}

.login a{
    font-size: 1.3rem;
    padding: .2rem .9rem;
    border: .5px solid white;
    border-radius: 1rem;
    align-self: center;
}

.ham{
    font-size: 2rem;
    display: none;
    cursor: pointer;
    margin-left: 1rem;
}

.hidden{
    position: fixed;
    top: 135px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: rgba(0, 0, 0, 0.8);
    /* border-radius: .8rem; */
    width: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    display: none;
}

.hidden-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* padding: 2rem; */
    list-style: none; 
}

.hidden a{
    font-size: 1.6rem;
    font-weight: 500;
}

.hidden-search{
    display: flex;
    gap: .2rem;
    align-items: center;
    margin-top: 1.5rem;
    /* display: none; */
}

.hidden-search input{
    height: 35px;
    width: 200px;
    border-radius: 1rem;
    outline: none;
    padding: .5rem;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: #414141d9;
    border: none;
    color: #d1d1d1;
}

.hide-search-btn{
    height: 33px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 140);
    /* background-color: rgb(238, 75, 0); */
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    transition: all .2s;
    display: none;
}

.hide-search-btn:hover{
    transform: scale(0.95);
    background-color: rgb(238, 75, 0);
    /* display: none; */
}

.hide-search-btn i{
    color: #fff;
}

.cross{
    font-size: 2rem;
    position: relative;
    bottom: -30px;
}


/* Navbar Responsiveness */
@media(max-width:1100px){
    .nav-links{
        display: none;
    }

    .ham{
        display: block;
    }
}

@media(max-width:765px){
    .search input{
        display: none;
    }

    .search-btn{
        display: none;
    }

    .hide-search-btn{
        display: block;
    }

    .login p{
        display: none;
    }

    .sign{
        display: none;
    }
}

@media(max-width:600px){
    .hidden-links{
        gap: 2rem;
    }

    .header-text h1{
        font-size: 1.7rem;
    }

    .hidden{
        top: 120px;
    }

    .hero-section{
        margin: -3rem;
    }
}

@media(max-width:500px){
    .ham{
        margin-left: .5rem;
    }

    .logo img{
        height: 30px;
        width: 30px;
    }
    
    .logo span{
        font-size: 1.3rem;
    }

    .hide-search-btn{
        height: 30px;
        width: 30px;
        font-size: 1.1rem;
    }

    .login .log{
        font-size: 1.1rem;
    }

    .ham{
        font-size: 1.7rem;
    }

    .hidden{
        padding: 1rem;
    }

    .cross{
        bottom: -15px;
    }

    .hidden-links a{
        font-size: 1.1rem;
    }

    .hero-section{
        margin: -3.5rem;
    }
}

@media(max-width:350px){
    .header-text h1{
        font-size: 1.5rem;
    }

    .hidden-links{
        gap: 1.3rem;
    }
}


.hero-section{
    margin-top: 8rem;
}



/* footer styling */
.footer{
    /* border: 2px solid green; */
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    gap: 4rem;
    font-family: "Noto Sans", serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(./img/footer2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: 6rem;
}

.footer-left{
    /* border: 2px solid white; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-heading{
    font-size: 3rem;
    font-family: "Lobster", serif;
    font-weight: 400;
    color: rgb(207, 22, 130);
}

.footer-para{
    font-size: 1.18rem;
    font-weight: 400;
    width: 80%;
    margin-top: .5rem;
    line-height: 1.4;
    color: #e2e2e2;
}

.footer-incons{
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 2.3rem;
}

.footer-incons img{
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: .3rem;
    padding: .3rem;
}

.footer-incons i{
    background-color: rgba(255, 255, 255, 0.1);
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: .3rem;
    color: #e2e2e2;
}

.footer-right{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-bottom: 2rem;
}

.footer-links a{
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: all .2s ease;
}

.footer-links a:hover{
    transform: scale(1.05);
    color: #009dff;
}

.logout{
    margin-left: .5rem;
    font-size: 1.4rem;
    transition: all .2s ease-in;
}

.logout:hover{
    transform: translateX(3px);
}

.fr-content{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 3rem;
}

.fr-common{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1.4rem;
    font-weight: 600
}

.fr-common i{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}


/* Footer Responsiveness */
@media(max-width: 1336px){
    .footer{
        /* gap: 2rem; */
        justify-content: space-between;
        height: auto;
        padding: 3rem 2rem;
    }
    .fr-common{
        font-size: 1.3rem;
    }
    .footer-right{
        width: 50%;
    }
    .footer-para{
        width: 90%;
    }
}

@media(max-width: 1218px){
    .fr-content{
        flex-direction: column;
        gap: 1rem;
    }
    .footer-para{
        width: 98%;
    }
}

@media(max-width: 900px){
    .footer{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer-left{
        width: 98%;
        align-items: center;
    }

    .footer-heading,.footer-para{
        text-align: center;
    }

    .footer-right{
        width: 98%;
    }

    .footer-links{
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .fr-content{
        margin: 0;
    }
}

@media(max-width: 500px){
    .footer{
        padding: 2rem .5rem;
    }

    .footer-left, .footer-right{
        width: 99.5%;
    }

    .footer-incons{
        gap: 2rem;
    }

    .footer-links .logout{
        display: none;
    }

    .footer-heading{
        font-size: 2.4rem;
    }
}


@media(max-width: 400px){
    .footer-incons, .footer-links{
        gap: 1rem;
    }
}