@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+AU+VIC+WA+NT+Arrows&family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@700&family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    height: 100vh;
    width: 100vw;
    background: black;
}

.header-text h1 {
    color: rgb(17, 225, 236);
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-weight: 900;
    font-size: 2.4em;
    padding: 10px; 
    border-bottom: 1px solid #ffffff30;
}
    
.header-text span{
    color: rgb(255, 0, 140);
}

.navbar {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: .3rem; */
    padding: .5rem;
    position: fixed;
    width: 98%;
    color: #fff;
    z-index: 1000;
    
}

.right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}
.logo img {
    height: 50px;
    border-radius: 50%;
}

.logo span{
    color: rgb(255, 0, 140);
    font-family: "Dancing Script", sans-serif;
    font-weight: 900;
    font-size: 2.4em;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 20px;
}

/* .hidden{

} */

.common-a {
    color: white;
    font-size: 1.4em;
    font-weight: 400;
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.search input{
    height: 35px;
    width: 200px;
    border-radius: 1rem;
    outline: none;
    padding: .5rem;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: #414141d9;
    border: none;
    color: #d1d1d1;
}

.search-btn{
    height: 33px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 140);
    /* background-color: rgb(238, 75, 0); */
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    transition: all .2s;
}

.search-btn:hover{
    transform: scale(0.95);
    background-color: rgb(238, 75, 0);
}

.search i{
    font-size: 1.1rem;
    color: #dddddd;
}

.login{
    font-size: 1.7rem;
    font-weight: 700;
    color: rgb(238, 75, 0);
}

.login a{
    font-size: 1.3rem;
    padding: .2rem .9rem;
    border: .5px solid white;
    border-radius: 1rem;
}

.ham{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.menu-toggle i {
    font-size: 24px;
    color: white;
}
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .ham{
        display: block;
    }
}


/* Footer Styling */
.footer{
    /* border: 2px solid green; */
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    gap: 4rem;
    font-family: "Noto Sans", serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(./img/footer2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: 9rem;
}

.footer-left{
    /* border: 2px solid white; */
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 2rem;
}

.footer-heading{
    font-size: 3rem;
    font-family: "Lobster", serif;
    font-weight: 400;
    color: rgb(255, 0, 140);
}

.footer-para{
    font-size: 1.18rem;
    font-weight: 400;
    width: 80%;
    margin-top: .5rem;
    line-height: 1.4;
    color: #e2e2e2;
}

.footer-incons{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 3rem;
    font-size: 2.3rem;
}

.footer-incons img{
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: .3rem;
    padding: .3rem;
}

.footer-incons i{
    background-color: rgba(255, 255, 255, 0.1);
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: .3rem;
    color: #e2e2e2;
}

.footer-right{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-bottom: 2rem;
}

.footer-links a{
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: all .2s ease;
}

.footer-links a:hover{
    transform: scale(1.05);
    color: #009dff;
}

.logout{
    margin-left: .5rem;
    font-size: 1.4rem;
    transition: all .3s ease-in;
}

.logout:hover{
    transform: translateX(3px);
}

.fr-content{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 3rem;
}

.fr-common{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1.4rem;
    font-weight: 600
}

.fr-common i{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}


/* Footer Responsiveness */
@media(max-width: 1336px){
    .footer{
        /* gap: 2rem; */
        justify-content: space-between;
        height: auto;
        padding: 3rem 2rem;
    }
    .fr-common{
        font-size: 1.3rem;
    }
    .footer-right{
        width: 50%;
    }
    .footer-para{
        width: 90%;
    }
}

@media(max-width: 1218px){
    .fr-content{
        flex-direction: column;
        gap: 1rem;
    }
    .footer-para{
        width: 98%;
    }
}

@media(max-width: 900px){
    .footer{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer-left{
        width: 98%;
        align-items: center;
    }

    .footer-heading,.footer-para{
        text-align: center;
    }

    .footer-right{
        width: 98%;
    }

    .footer-links{
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .fr-content{
        margin: 0;
    }
}

@media(max-width: 500px){
    .footer{
        padding: 2rem .5rem;
    }
    .nav-links.active {
        display: flex;
    }

    .footer-links .logout{
        display: none;
    }
}


@media(max-width: 400px){
    .footer-incons, .footer-links{
        gap: 1rem;
    }
}

@media screen and (max-width:750px){
    

    .profile a{
        font-size: 1.2em;
        margin-right: 10px;
    }

    .profile i{
        font-size: 1em;
    }
    
}