@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+AU+VIC+WA+NT+Arrows&family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@700&family=Quicksand&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    /* height: 100%; */
    width: 100%;
    background: black;
    position: relative;
    /* overflow: hidden; */
    color: #fff;
}

.nav{
    /* border: 2px solid red; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    /* background-color: rgba(0, 0, 0, 1); */
    background-image: linear-gradient(rgba(0, 4, 11, 0.832), rgba(3, 20, 26, 0.794), rgba(22, 18, 1, 0.695)), url(./img/mb8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text h1 {
    color: rgb(17, 225, 236);
    text-align: center;
    font-family: "Dancing Script", sans-serif;
    font-weight: 900;
    font-size: 2.4em;
    padding: 10px; 
    border-bottom: 1px solid #ffffff30;
}
    
.header-text span{
    color: rgb(255, 0, 140);
    margin-left: .3rem;
}

.navbar {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    color: #fff;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}
.logo img {
    height: 50px;
    border-radius: 50%;
}

.logo span{
    color: rgb(255, 0, 140);
    font-family: "Dancing Script", sans-serif;
    font-weight: 900;
    font-size: 2.4em;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.common-a {
    color: white;
    font-size: 1.27rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", serif;
    transition: all .2s ease;
}

.common-a:hover{
    color: rgb(255, 82, 177);
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.nav-right{
    display: flex;
    align-items: center;
    /* gap: 1rem; */
}

.search{
    display: flex;
    gap: .3rem;
    align-items: center;
}

.search input{
    height: 35px;
    width: 200px;
    border-radius: 1rem;
    outline: none;
    padding: .5rem;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: #414141d9;
    border: none;
    color: #d1d1d1;
}

.search-btn{
    height: 30px;
    width: 33px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 140);
    /* background-color: rgb(238, 75, 0); */
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .2s;
}

.search-btn:hover{
    transform: scale(0.95);
    background-color: rgb(238, 75, 0);
}

.search i{
    font-size: 1.1rem;
    color: #dddddd;
}

.login{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(238, 75, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-left: .6rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login a{
    font-size: 1.1rem;
    padding: .2rem .9rem;
    border: .5px solid white;
    border-radius: 1rem;
    align-self: center;
}

.ham{
    font-size: 2rem;
    display: none;
    cursor: pointer;
    margin-left: 1rem;
}

.hidden{
    position: fixed;
    top: 135px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: rgba(0, 0, 0, 0.8);
    /* border-radius: .8rem; */
    width: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    display: none;
}

.hidden-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* padding: 2rem; */
    list-style: none; 
}

.hidden a{
    font-size: 1.6rem;
    font-weight: 500;
}

.hidden-search{
    display: flex;
    gap: .2rem;
    align-items: center;
    margin-top: 1.5rem;
    /* display: none; */
}

.hidden-search input{
    height: 35px;
    width: 200px;
    border-radius: 1rem;
    outline: none;
    padding: .5rem;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: #414141d9;
    border: none;
    color: #d1d1d1;
}

.hide-search-btn{
    height: 33px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 140);
    /* background-color: rgb(238, 75, 0); */
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    transition: all .2s;
    display: none;
}

.hide-search-btn:hover{
    transform: scale(0.95);
    background-color: rgb(238, 75, 0);
    /* display: none; */
}

.hide-search-btn i{
    color: #fff;
}

.cross{
    font-size: 2rem;
    position: relative;
    bottom: -30px;
}


/* Navbar Responsiveness */
@media(max-width:1100px){
    .nav-links{
        display: none;
    }

    .ham{
        display: block;
    }
}

@media(max-width:765px){
    .search input{
        display: none;
    }

    .search-btn{
        display: none;
    }

    .hide-search-btn{
        display: block;
    }

    .login p{
        display: none;
    }

    .sign{
        display: none;
    }
}

@media(max-width:600px){
    .hidden-links{
        gap: 2rem;
    }

    .header-text h1{
        font-size: 1.7rem;
    }

    .hidden{
        top: 120px;
    }

    .hero-section{
        margin: -3rem;
    }
}

@media(max-width:500px){
    .ham{
        margin-left: .5rem;
    }

    .logo img{
        height: 30px;
        width: 30px;
    }
    
    .logo span{
        font-size: 1.3rem;
    }

    .hide-search-btn{
        height: 30px;
        width: 30px;
        font-size: 1.1rem;
    }

    .login .log{
        font-size: 1.1rem;
    }

    .ham{
        font-size: 1.7rem;
    }

    .hidden{
        padding: 1rem;
    }

    .cross{
        bottom: -15px;
    }

    .hidden-links a{
        font-size: 1.1rem;
    }

    .hero-section{
        margin: -3.5rem;
    }
}

@media(max-width:350px){
    .header-text h1{
        font-size: 1.5rem;
    }

    .hidden-links{
        gap: 1.3rem;
    }

    .hide-search-btn{
        display: none;
    }
}


.hero-section{
    margin-top: 8rem;
}

/* Background Section Styling */
.background{
    /* border: 2px solid red; */
    margin-top: 3rem;
    background-image: linear-gradient(rgba(15, 37, 75, 0.453), rgba(1, 40, 57, 0.708), rgba(60, 49, 1, 0.33)), url(./img/mb8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 70vh; */
    padding: 1rem 2rem 1rem 2rem;
    font-family: "Noto Sans", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-left img{
    height: 400px;
    opacity: 0.6;
}

.back-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: .1rem; */
    background-color: rgba(0, 0, 0, 0.1);
}

.feel{
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: .5px;
    color: rgb(255, 0, 140);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.rythm{
    font-size: 2.2rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    color: rgb(238, 75, 0);
}

.vision{
    font-size: 1.4rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    color: rgb(17, 225, 236);
    margin: .2rem 0;
}

.back-para{
    font-size: 1.15rem;
    font-weight: 500;
    text-align: center;
    width: 80%;
    color: #ababab;
    line-height: 1.1;
}


.player{
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem 3rem;
    border-radius: 4rem;
    position: relative;
}

.control, #current{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
}

#playbtn{
    font-size: 1.5rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    cursor: pointer;
}

#playbtn:hover{
    -webkit-text-fill-color: #fff;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: cursive;
    color: #b1b1b1;
}

#current{
    font-size: 1.5rem;
    font-weight: 500;
    color: #b1b1b1;
}

/* .bar{
    --space : -4px;
    background-color: #242424;
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 4rem;
    z-index: -1;
}

#progress{
    display: block;
    width: var(--progress, 0%);
    background-color: #fff;
    transition: all 1s linear;
    height: 100%;
} */


/* Background Responsiveness */
@media(max-width: 1000px){
    .back-left img{
        height: 250px;
    }

    .back-right{
        width: 65%;
    }

    .back-para{
        width: 90%;
    }
}

@media(max-width: 850px){
    .back-left{
        display: none;
    }

    .back-right{
        width: 99.9%;
        margin: 0rem auto;
    }
}

@media(max-width: 650px){
    .background{
        padding: .5rem 0;
    }

    .back-right{
        padding: 1rem 0;
        width: 100%;
        gap: .2rem;
        line-height: 1;
    }

    .rythm{
        margin: 0;
    }

    .player{
        padding: .8rem 1rem;
        gap: 1rem;
    }
}

@media(max-width: 605px){
    .background{
        padding: 3rem 0;
    }

    .back-para{
        width: 99%;
        margin: 0 auto;
    }

    .back-bottom{
        width: 99%;
        margin: 0 auto;
    }

    .info{
        font-size: 1.2rem;
    }
}

@media(max-width: 450px){
    .background{
        padding-bottom: 1rem;
        /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(./img/mb8.jpg); */
        background-color: black;
    }
    .rythm{
        font-size: 1.8rem;
    }

    .back-para{
        text-align: center;
        width: 98%;
    }

    .player{
        gap: 2rem;
        padding: .3rem;
        border-radius: 1rem;
        margin-top: 1rem;
    }

    .info span{
        display: none;
    }
}

@media(max-width: 350px){
    .feel{
        font-size: 1.1rem;
    }

    .rythm{
        font-size: 1.3rem;
    }

    .vision{
        font-size: 1.2rem;
    }
}

/* Songs-container Styling */
.songs-container{
    /* border: 2px solid red; */
    margin-top: 3rem;
    font-family: "Roboto", serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 1rem 3rem;
}

.songs-top{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heading{
    align-self: center;
}

.songs{
    font-size: 2rem;
    text-align: center;
    color: #b1b1b1;
    /* align-self: center; */
}

.blank{
    align-self: center;
    height: 4px;
    width: 440px;
    background-color: #202026;
    margin-top: .5rem;
    border-radius: 50%;
}

.songs-top-content{
    display: flex;
    justify-content: space-between;
}

.songs-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    width: 48%;
    background-color: #32323d;
    border-radius: .8rem;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}

.songs-trending{
    font-size: 1.3rem;
    font-weight: 500;
}

.songs-boxes{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.song-box{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #202026;
}

.song-box-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.song-time, .song-number{
    font-size: 1.2rem;
    font-weight: 600;
    color: #bcbcbc;
}

.singer-name{
    font-size: .8rem;
    color: #c3c3c3;
}

.song-box-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.heart{
    color: rgb(241, 47, 47);
}

.song-box-left img, .tsb-left img{
    width: 50px;
    height: 40px;
    border-radius: .3rem;
}

/* .see{
    align-self: center;
    padding: .6rem 1.5rem;
    color: #fff;
    border-radius: .4rem;
    background-color: #202026;
    font-weight: 600;
} */

.songs-right{
    /* background-color: #202026; */
    background-color: #32323d;
    width: 48%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .8rem;
    height: 100%;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}

.see-all{
    color: #ababab;
}

.songs-right-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-songs-boxes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top-song-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
}

.tsb-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tsb-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tsb-play{
    background-color: #202026;
    padding: .3rem .5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2rem;
    font-size: .9rem;
    color: #009dff;
    cursor: pointer;
}

i{
    cursor: pointer;
}


/* footer styling */
.footer{
    /* border: 2px solid green; */
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    gap: 4rem;
    font-family: "Noto Sans", serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(./img/footer2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: 6rem;
}

.footer-left{
    /* border: 2px solid white; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-heading{
    font-size: 3rem;
    font-family: "Lobster", serif;
    font-weight: 400;
    color: rgb(207, 22, 130);
}

.footer-para{
    font-size: 1.18rem;
    font-weight: 400;
    width: 80%;
    margin-top: .5rem;
    line-height: 1.4;
    color: #e2e2e2;
}

.footer-incons{
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 2.3rem;
}

.footer-incons img{
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: .3rem;
    padding: .3rem;
}

.footer-incons i{
    background-color: rgba(255, 255, 255, 0.1);
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: .3rem;
    color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-right{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-bottom: 2rem;
}

.footer-links a{
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: all .2s ease;
}

.footer-links a:hover{
    transform: scale(1.05);
    color: #009dff;
}

.logout{
    margin-left: .5rem;
    font-size: 1.4rem;
    transition: all .2s ease-in;
}

.logout:hover{
    transform: translateX(3px);
}

.fr-content{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 3rem;
}

.fr-common{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1.4rem;
    font-weight: 600
}

.fr-common i{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}


/* Footer Responsiveness */
@media(max-width: 1336px){
    .footer{
        /* gap: 2rem; */
        justify-content: space-between;
        height: auto;
        padding: 3rem 2rem;
    }
    .fr-common{
        font-size: 1.3rem;
    }
    .footer-right{
        width: 50%;
    }
    .footer-para{
        width: 90%;
    }
}

@media(max-width: 1218px){
    .fr-content{
        flex-direction: column;
        gap: 1rem;
    }
    .footer-para{
        width: 98%;
    }
}

@media(max-width: 900px){
    .footer{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer-left{
        width: 98%;
        align-items: center;
    }

    .footer-heading,.footer-para{
        text-align: center;
    }

    .footer-right{
        width: 98%;
    }

    .footer-links{
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .fr-content{
        margin: 0;
    }
}

@media(max-width: 500px){
    .footer{
        padding: 2rem .5rem;
    }

    .footer-left, .footer-right{
        width: 99.5%;
    }

    .footer-incons{
        gap: 2rem;
    }

    .footer-links .logout{
        display: none;
    }

    .footer-heading{
        font-size: 2.4rem;
    }
}


@media(max-width: 400px){
    .footer-incons, .footer-links{
        gap: 1rem;
    }
}