@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Edu+AU+VIC+WA+NT+Arrows&family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=PT+Sans+Narrow:wght@700&family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    /* height: 100%; */
    width: 100%;
    background: black;
    position: relative;
    /* overflow: hidden; */
    color: #fff;
}

.nav{
    /* border: 2px solid red; */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    /* background-color: rgba(0, 0, 0, 1); */
    background-image: linear-gradient(rgba(0, 4, 11, 0.832), rgba(3, 20, 26, 0.794), rgba(22, 18, 1, 0.695)), url(./img/mb8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text h1{
     color: rgb(17, 225, 236);
     text-align: center;
     font-family: "Dancing Script", sans-serif;
     font-weight: 900;
     font-size: 2.4em;
     padding: 10px; 
     border-bottom: 1px solid #ffffff30;
}
    
.header-text span{
    color: rgb(255, 0, 140);
    margin-left: .3rem;
}

.navbar {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    color: #fff;
    margin: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.371);
}

.right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
}
.logo img {
    height: 50px;
    border-radius: 50%;
}

.logo span{
    color: rgb(255, 0, 140);
    font-family: "Dancing Script", sans-serif;
    font-weight: 900;
    font-size: 2.4em;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.common-a {
    color: white;
    font-size: 1.4em;
    font-weight: 400;
}
.nav-icons {
    display: flex;
    align-items: center;
    gap: .2rem;
}

.nav-right{
    display: flex;
    align-items: center;
    /* gap: 1rem; */
}

.search{
    display: flex;
    gap: .3rem;
    align-items: center;
}

.search input{
    height: 35px;
    width: 200px;
    border-radius: 1rem;
    outline: none;
    padding: .5rem;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: #414141d9;
    border: none;
    color: #d1d1d1;
}

.search-btn{
    height: 30px;
    width: 33px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 140);
    /* background-color: rgb(238, 75, 0); */
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .2s;
}

.search-btn:hover{
    transform: scale(0.95);
    background-color: rgb(238, 75, 0);
}

.search i{
    font-size: 1.1rem;
    color: #dddddd;
}

.login{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(238, 75, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-left: .6rem;
}

.login a{
    font-size: 1.3rem;
    padding: .2rem .9rem;
    border: .5px solid white;
    border-radius: 1rem;
    align-self: center;
}

.ham{
    font-size: 2rem;
    display: none;
    cursor: pointer;
    margin-left: 1rem;
}

.hidden{
    position: fixed;
    top: 135px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: rgba(0, 0, 0, 0.8);
    /* border-radius: .8rem; */
    width: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    display: none;
}

.hidden-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    /* padding: 2rem; */
    list-style: none; 
}

.hidden a{
    font-size: 1.6rem;
    font-weight: 500;
}

.hidden-search{
    display: flex;
    gap: .2rem;
    align-items: center;
    margin-top: 1.5rem;
    /* display: none; */
}

.hidden-search input{
    height: 35px;
    width: 200px;
    border-radius: 1rem;
    outline: none;
    padding: .5rem;
    font-size: 1.1rem;
    font-weight: 400;
    background-color: #414141d9;
    border: none;
    color: #d1d1d1;
}

.hide-search-btn{
    height: 33px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 140);
    /* background-color: rgb(238, 75, 0); */
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    transition: all .2s;
    display: none;
}

.hide-search-btn:hover{
    transform: scale(0.95);
    background-color: rgb(238, 75, 0);
    /* display: none; */
}

.hide-search-btn i{
    color: #fff;
}

.cross{
    font-size: 2rem;
    position: relative;
    bottom: -30px;
}


/* Navbar Responsiveness */
@media(max-width:1100px){
    .nav-links{
        display: none;
    }

    .ham{
        display: block;
    }
}

@media(max-width:765px){
    .search input{
        display: none;
    }

    .search-btn{
        display: none;
    }

    .hide-search-btn{
        display: block;
    }

    .login p{
        display: none;
    }

    .sign{
        display: none;
    }
}

@media(max-width:600px){
    .hidden-links{
        gap: 2rem;
    }

    .header-text h1{
        font-size: 1.7rem;
    }

    .hidden{
        top: 120px;
    }

    .hero-section{
        margin: -3rem;
    }
}

@media(max-width:500px){
    .ham{
        margin-left: .5rem;
    }

    .logo img{
        height: 30px;
        width: 30px;
    }
    
    .logo span{
        font-size: 1.3rem;
    }

    .hide-search-btn{
        height: 30px;
        width: 30px;
        font-size: 1.1rem;
    }

    .login .log{
        font-size: 1.1rem;
    }

    .ham{
        font-size: 1.7rem;
    }

    .hidden{
        padding: 1rem;
    }

    .cross{
        bottom: -15px;
    }

    .hidden-links a{
        font-size: 1.1rem;
    }

    .hero-section{
        margin: -3.5rem;
    }
}

@media(max-width:350px){
    .header-text h1{
        font-size: 1.5rem;
    }

    .hidden-links{
        gap: 1.3rem;
    }
}

/* blank-line styling */

/* .blank-line{
    width: 100%;
    margin-top: 0.3em;
     margin-top: 8.3em;
    border: 1px solid rgba(128, 128, 128, 0.371);
    background-color: rgba(128, 128, 128, 0.371);
    position: fixed;
}
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
} */

/* header styling */

.header{
    width: 90%;
    height: 100%;
    /* border: 2px solid white; */
    margin: 1em auto auto auto;
    display: flex;
    flex-wrap: wrap;
}

.left-box{
    margin-top: 3em;
    width: 20%;
    height: 90%;
    /* border: 2px solid grey; */
}

.right-box{
    margin: 0;
    width: 80%;
    height: 90%;
    /* border: 2px solid yellow; */
}

.bottom-box{
    width: 100%;
    height: 10%;
    /* border: 2px solid red; */
}

/* leftbox styling */

.left-box h1{
    font-size: 1.8em;
    font-weight: 500;
    margin: 1em;
    color: white;
}

.playlist h4{
    color: grey;
    margin: 1em;
    font-size: 1.2em;
    font-weight: 400;
    cursor: pointer;
    /* display: flex;
    align-items: center; */
    transition: 0.3s linear;
}

.playlist h4:hover{
    color: white;
}



.playlist i{
    /* padding: 0.3em; */
}

.playlist h4 span{
    position: relative;
    margin-right: 1em;
}

.playlist h4 span::before{
    content: " ";
    position: absolute;
    width: 4px;
    height:4px ;
    border:2px solid grey ;
    border-radius: 50%;
    top: 7px;
    transition: 0.3s linear;
    
}

.playlist h4:hover span::before{
    border: 2px solid white;
}



.playlist .active{
    color: aqua;
}

.playlist .active span{
    display: none;
}

.playlist .active i{
    /* display: block; */
    margin-right: 0.7em;
} 

.song-menu{
    width: 100%;
    height: 450px;
    margin-top: 40px;
    /* border: 2px solid aqua; */
    overflow: auto;
}

.song-menu::-webkit-scrollbar{
    display: none;
}

.song-menu li{
    list-style-type: none;
    position: relative;
    padding:0.5em ;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 0.5em;
    cursor: pointer;
    transition: .3s linear;
}

.song-menu li:hover{
    background: rgb(105,105,105,.3)
}

.song-menu li span{
    font-size: 1.2em ;
    font-weight: 600 ;
    color: #4c5262;
}

.song-menu li img{
    width: 30px;
    height: 30px;
    margin-left: 0.5em;
}

.song-menu li h5{
    font-size: 1.2em;
    margin-left: 0.5em;
    width: 170px;
    /* border: 1px solid #fff; */
    overflow: hidden ;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-menu li h5 .subtitle{
    font-size: 0.8em;
    color: #4c5262;
}

.song-menu li i{
    position: absolute;
    right: 0.7em;
    /* top: 6px;
    font-size: 1.2em; */
}

/* bottom-box styling */

.bottom-box{
    display: flex;
    align-items: center;
    padding: 0 6em;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #000;
}

.bottom-box .wave{
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding: 0.3em;
    display: flex;
    align-items: flex-end;
    margin-right: 0.5em;
}

.bottom-box .wave .wave1{
    width: 3px;
    height: 10px;
    background: #36e2ec;
    border-radius: 10px 10px 0 0;
    margin-right: 3px;
    animation: unset;
}

.bottom-box .wave .wave1:nth-child(2){
    height: 13px;
    margin-right: 4px;
    animation-delay: .4s;
}
.bottom-box .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .8s;
}

/* jabascript classes */

.bottom-box .active1 .wave1{
    animation: wave .5s linear infinite;
}

.bottom-box .active1 .wave1:nth-child(2){
    /* height: 13px;
    margin-right: 4px; */
    animation-delay: .4s;
}
.bottom-box .active1 .wave1:nth-child(3){
    /* height: 8px; */
    animation-delay: .8s;
}


@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }

}


.bottom-box img{
    width: 35px;
    height: 35px;
}
.bottom-box h5{
    width: 130px;
    /* border: 1px solid #fff; */
    margin-left: 1em;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-transform: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 400;
}
.bottom-box h5 .subtitle{
    font-size: 1em;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-transform: ellipsis;
    white-space: nowrap;
}

.bottom-box .icon {
    color:white;
    font-size: 1em;
    margin: 0 0.5em 0 1em;
    outline: none;
    display: flex;
    align-items: center;
}
.bottom-box .icon i {
    
    cursor: pointer;
    outline: none;
}

.bottom-box .icon .shuffle{
    font-size: 1em;
    margin-right: 0.5em;
    width: 17px;
    overflow: hidden;
    align-items: center;
}
.bottom-box .icon #download-music{
    font-size: 1em;
    margin-left: 10px;
}

.bottom-box .icon i:nth-child(3){
    border: 1px solid rgb(105,105,105,.1);
    border-radius: 50%;
    padding: 1px 5px 0 7px ;
    margin:0 5px ;
}
.bottom-box span{
    color: #fff;
    width: 32px;
    /* border: 1px solid white; */
    font-size: 1.1em;
    font-weight: 400;
}
.bottom-box #currentStart{
    margin: 0 0 0 1em;
}


.bottom-box .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background-color: rgb(105,105,170,.1);
    margin: 1em;
}
.bottom-box .bar .bar2{
    position: absolute;
    background-color: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear 0s ;
}
.bottom-box .bar #dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0;
    top: -2px;
    transition: 1s linear 0s;
}
.bottom-box .bar #dot::before{
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0 0 3px #36e2ec ;
}
.bottom-box .bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 10000;
    /* transition: 3s linear; */
    opacity: 0;
}
.bottom-box .vol{
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105,105,170,.1);
    margin-left: 50px;
}
.bottom-box .vol #vol_icon{
   position: absolute;
   color: white;
   font-size:1.1em ;
   top: -7px;
   left: -40px;
   margin-right: 1.4em;
}
.bottom-box .vol #vol{
   position: absolute;
   width: 100%;
   top: -6px;
   left: 0;
   cursor: pointer;
   z-index: 1000;
   opacity: 0;
}
.bottom-box .vol #vol_bar{
   position: absolute;
   background: #36e2ec;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   transition: 1s linear;
}


.bottom-box .vol #vol_dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 100%;
    top: -2px;
    transition: 1s linear;
}
.bottom-box .vol #vol_dot::before{
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -5px;
    top: -6.5px;
    box-shadow: inset 0 0 3px #36e2ec ;
}


/* right box styling */



.right-box{
    /* border: 2px solid white; */
    /* margin-top: 0.3em; */
}

/* .header .right-box::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./img/music-bg-1.jpg);
} */

.header .right-box .bg-img{
    height: 100%;
    width: 100%;
    opacity: 0.2;
}

.content{
    width: 65%;
    color: #fff;
    position: absolute;
    top: 15%;
    left: 63%;
    transform: translate(-50%,-50%);
}

.content h1{
    font-size: 2em ;
    font-weight: 600;
}

.content p{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0.5em 0;
    color: #4c5262;
}

.music-btn{
    margin-top: 1em;
    width: 150px;
    border: none;
    padding: 0.5em 0;
    font-size: 1.3em;
    font-weight: 600;
    color: black;
    border-radius: 2em;

    /* box-shadow: rgba(222, 214, 214, 0.35) 0px 10px 15px; */
    transition: .3s linear;
}

#play{
    background-color: rgba(17, 225, 236);
    
}

#play:hover{
    background-color:transparent ;
    color: white;
    box-shadow: rgb(109, 136, 163) 0px 20px 30px -10px;
    border:2px solid  rgba(17, 225, 236);
}

#follow{
    background-color: rgb(255, 0, 140,0.745);
}

#follow:hover{
    background-color:transparent ;
    color: white;
    box-shadow: rgb(83, 103, 123) 0px 20px 30px -10px;
    border: 2px solid rgba(255, 0, 140) ;
    
}

.right-box .popular-songs{
    width: 90%;
    height: auto;
    margin-top: 2em;
    /* border: 2px solid white; */
}

.right-box .popular-songs .psh4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-box .popular-songs .ps-btn i{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear
}
.right-box .popular-songs .ps-btn i:hover{
    color: white;
    
}

.pop_song{
    width: 100%;
    height: 150px;
    margin-top: 1em;
    display: flex;
    /* border: 2px solid yellow; */
    overflow: auto;
    scroll-behavior: smooth;
}
.pop_song::-webkit-scrollbar{
    display: none;
}
.pop_song li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 1em;
    transition: .3s linear;
}
.pop_song li:hover{
    
    background: rgb(105,105,170,.1);
}

.pop_song .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop_song .img_play img{
    width: 100%;
    height: 100%;
}
.pop_song li .img_play i{
    
    position: absolute;
    cursor: pointer;
    font-size: 0.5em;
    transition: .3s linear;
    opacity: 0;
}
.pop_song li:hover .img_play i{
    opacity: 1;
}
.pop_song li h5{
   padding: 0.5em 0 0 0.5em ;
   line-height: 15px;
   font-size: 1.1em;
   width: 100px;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.pop_song li h5 .subtitle{
    margin-top: 3px;
    font-size: 0.8em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c5262;
}

.right-box .popular-artist{
    width: 90%;
    height: auto;
    /* border: 2px solid white; */
    /* margin: auto; */
    margin-top: 1em;
}

.right-box .popular-artist .psh4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-box .popular-artist .ps-btn i{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear
}
.right-box .popular-artist .ps-btn i:hover{
    color: white;
    
}

 .pa_items{
    width: 100%;
    height: auto;
    margin-top: 1em;
    display: flex;
    /* border: 2px solid yellow; */
    /* overflow: auto; */
    scroll-behavior: smooth;
    overflow: scroll;

}
.popular-artist .pa_items::-webkit-scrollbar{
    display: none;

}
.pa_items li{
    min-width: 60px;
    position: relative;
    height: 60px;
    border-radius: 50%;
    list-style-type: none;
    margin-right: 0.5em;
    cursor: pointer;
}
.popular-artist .pa_items li img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



/* podcast section */



.podcast_section{
    height: 1000px;
    width: 80%;
    background:;
    margin: auto;
}


.watch-items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.watch-items1{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 1em;
    height: 80vh;
    width: 80vw;
    
    
}




.watch-item-photo img {
    width: 80%;
    height: 80%;
    border-radius: 8px;
}
  

.watch-item-photo p {
    font-size: 1rem;
    margin: 10px;
    font-weight: bold;
    color: white;
}
.watch-item-title{
    font-weight: 400;
    margin: 3em 0 1.7em 0;
}

.watch-items h1{
    color:rgb(17, 225, 236) ;
}

.watch-items span{
    color:rgb(255, 0, 140) ;
}




.display-all{
    background-color: #f5f5f0;
    padding: 10px 0;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    text-align: left;
    padding: 10px;
    margin: 3em 0 6em 0;
    text-align: center;
}



/* Songs-container Styling */
.songs-container{
    /* border: 2px solid red; */
    margin-top: 3rem;
    font-family: "Roboto", serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 1rem 0;
    position: relative;
    overflow: hidden;
    height: 700px;
}

.songs-container video{
    /* border: 2px solid red; */
    position: absolute;
    top: 0px;
    /* height: 90%; */
    /* width: 100%; */
    z-index: 10;
}

.songs-top{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 3rem;
}

.heading{
    align-self: center;
    z-index: 600;
}

.songs{
    font-size: 2rem;
    text-align: center;
    color: #b1b1b1;
    /* align-self: center; */
}

.blank{
    align-self: center;
    height: 4px;
    width: 440px;
    background-color: #202026;
    margin-top: .5rem;
    border-radius: 50%;
}

.songs-top-content{
    display: flex;
    justify-content: space-between;
    z-index: 12;
}

.songs-left{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    width: 48%;
    /* background-color: #32323d; */
    background-color: rgba(34, 34, 34, 0.7);
    border-radius: .8rem;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}

.songs-trending{
    font-size: 1.3rem;
    font-weight: 500;
}

.songs-boxes{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.song-box{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #202026;
}

.song-box-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.song-time, .song-number{
    font-size: 1.2rem;
    font-weight: 600;
    color: #bcbcbc;
}

.singer-name{
    font-size: .8rem;
    color: #c3c3c3;
}

.song-box-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.heart{
    color: rgb(241, 47, 47);
}

.song-box-left img, .tsb-left img{
    width: 50px;
    height: 40px;
    border-radius: .3rem;
}

/* .see{
    align-self: center;
    padding: .6rem 1.5rem;
    color: #fff;
    border-radius: .4rem;
    background-color: #202026;
    font-weight: 600;
} */

.songs-right{
    /* background-color: #202026; */
    /* background-color: #32323d; */
    background-color: rgba(34, 34, 34, 0.7);
    width: 48%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .8rem;
    height: 100%;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}

.see-all{
    color: #ababab;
}

.songs-right-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-songs-boxes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top-song-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
}

.tsb-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tsb-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tsb-play{
    background-color: #202026;
    padding: .3rem .5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .2rem;
    font-size: .9rem;
    color: #009dff;
    cursor: pointer;
}

i{
    cursor: pointer;
}

/* songs section Responsiveness */

/* @media (min-aspect-ratio: 16/9){
    .songs-container video{
        width: 100%;
        height: auto;
    }
}

@media (min-aspect-ratio: 16/9){
    .songs-container video{
        width: auto;
        height: 100%;
    }
} */
















/* footer styling */
.footer{
    /* border: 2px solid green; */
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    gap: 4rem;
    font-family: "Noto Sans", serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(./img/footer2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: 6rem;
    bottom: 0;
}

.footer-left{
    /* border: 2px solid white; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-heading{
    font-size: 3rem;
    font-family: "Lobster", serif;
    font-weight: 400;
    color: rgb(207, 22, 130);
}

.footer-para{
    font-size: 1.18rem;
    font-weight: 400;
    width: 80%;
    margin-top: .5rem;
    line-height: 1.4;
    color: #e2e2e2;
}

.footer-incons{
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 2.3rem;
}

.footer-incons img{
    height: 45px;
    width: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: .3rem;
    padding: .3rem;
}

.footer-incons i{
    background-color: rgba(255, 255, 255, 0.1);
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: .3rem;
    color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-right{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-bottom: 2rem;
}

.footer-links a{
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition: all .2s ease;
}

.footer-links a:hover{
    transform: scale(1.05);
    color: #009dff;
}

.logout{
    margin-left: .5rem;
    font-size: 1.4rem;
    transition: all .2s ease-in;
}

.logout:hover{
    transform: translateX(3px);
}

.fr-content{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 3rem;
}

.fr-common{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1.4rem;
    font-weight: 600
}

.fr-common i{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}


/* Footer Responsiveness */
@media(max-width: 1336px){
    .footer{
        /* gap: 2rem; */
        justify-content: space-between;
        height: auto;
        padding: 3rem 2rem;
    }
    .fr-common{
        font-size: 1.3rem;
    }
    .footer-right{
        width: 50%;
    }
    .footer-para{
        width: 90%;
    }
}

@media(max-width: 1218px){
    .fr-content{
        flex-direction: column;
        gap: 1rem;
    }
    .footer-para{
        width: 98%;
    }
}

@media(max-width: 900px){
    .footer{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer-left{
        width: 98%;
        align-items: center;
    }

    .footer-heading,.footer-para{
        text-align: center;
    }

    .footer-right{
        width: 98%;
    }

    .footer-links{
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .fr-content{
        margin: 0;
    }
}

@media(max-width: 500px){
    .footer{
        padding: 2rem .5rem;
    }

    .footer-left, .footer-right{
        width: 99.5%;
    }

    .footer-incons{
        gap: 2rem;
    }

    .footer-links .logout{
        display: none;
    }

    .footer-heading{
        font-size: 2.4rem;
    }
}


@media(max-width: 400px){
    .footer-incons, .footer-links{
        gap: 1rem;
    }
}

